.section {
  position: relative;
  display: block;
}

.tracks {
  display: inline-flex;
  margin-left: 5rem;
  gap: 0.5rem;
  --border: 1px solid var(--borderColor);
}

.track {
  position: relative;
  min-width: 8rem;
}

.chain {
  position: absolute;
  width: 100%;
  border: var(--border);
}

.modulations {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}

.modulation {
  position: absolute;
  border-top: 2px solid var(--primary);
  width: 100%;
}